.tab-box {
  border: 1px solid #cccccc;
}
.tabs {
  height: 30px;
}
.tab {
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  float: left;
  margin-right: 10px;
  background-color: #006600;
  color: #ffffff;
}
.tab-content {
  padding: 20px;
}