* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.wrap {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.clearfix:before, .clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}

* {
  margin: 0;
  padding: 0;
}

.ml10 {
  margin-left: 10px;
}
.mt10 {
  margin-top: 10px;
}
.p10 {
  padding: 10px;
}

.gray-bg {
  background-color: #d0d0d0;
}