.nav-bg {
    background: url("../image/course7/nav-bg.png");
    height: 40px;
}

.cross-wrap {
    width: 100%;
}

.nav-box {

}

.nav-item {
    height: 40px;
    width: 80px;
    float: left;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    display: block;
    color: #ffffff;
}

.nav-item:hover,
.nav-item-self{
    background: url("../image/course7/dot.png");
}

.nav-category {
    width: 180px;
    position: relative;
    float: left;
}

.nav-category:hover .nav-category-list {
    display: block;
}

.nav-category:hover .nav-category-top b {
    background: url("../image/course7/up-arrow.png") no-repeat;
    display: block;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 20px;
    position: absolute;
}

.nav-category-top {
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    display: block;
    color: #ffffff;
    padding-left: 10px;
}

.nav-category-top b {
    background: url("../image/course7/down-arrow.png") no-repeat;
    display: block;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 20px;
    position: absolute;
}

.nav-category-list {
    border: 2px solid #c76151;
    width: 176px;
    display: none;
    position: absolute;
}

.list-category {
}

.list-category:hover .nav-category-second-list{
    display: block;
}

.one-list-category{
    background-color: #fffff5;
    padding: 0 20px;
    border-bottom: 1px solid #d0d0d0;
    display: block;
    line-height: 40px;
    text-decoration: none;
    position: relative;
}

.one-list-category:hover {
    background-color: #ffffff;
    z-index: 200;
}

.one-list-category:hover .right-arrow {
    display: none;
}

.right-arrow {
    background: url("../image/course7/category-right-arrow.png") no-repeat;
    position: absolute;
    top: 18px;
    width: 20px;
    height: 20px;
    right: 4px;
    display: block;
}

.dot {
    background: url("../image/course7/dot.png") no-repeat;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    left: 12px;
    display: block;
}

.nav-category-second-list {
    background-color: #ffffff;
    border: 2px solid #d0d0d0;
    position: absolute;
    width: 400px;
    height: 400px;
    left: 174px;
    top: 0px;
    display: none;
    padding: 0 20px;
    z-index: 100;
}

.nav-category-second-list a p {
    display: block;
    float: left;
    padding: 0 6px;
}

.third_category {
    border-bottom: 1px #d0d0d0 solid;
    line-height: 40px;
    display: block;
    height: 40px;
}

.third_category_content {
    padding: 0 10px;
    display: block;
    float: left;
    text-decoration: none;
    color: #d0d0d0;
}

.third_category_content:hover,
.third_category_title {
    text-decoration: #ff0000;
    display: block;
    float: left;
    padding: 0 10px;
    color: #ff0000;
}








