.content-wrap {
    width: 960px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.left-content {
    width: 620px;
    float: left;
    padding-right: 20px;
    border-right: 1px solid #ccc;
}

.experience-topic {
    height: 280px;
    padding-top: 20px;
    border-bottom: 1px solid #ccc;
}

.experience {
    width: 300px;
    height: 230px;
    padding-top: 20px;
    border-right: 1px solid #ccc;
}

.topic {
    width: 250px;
    height: 230px;
    padding-top: 20px;
    float: left;
}

.discover {
    height: 240px;
    padding-top: 20px;
    border-bottom: 1px solid #ccc;
}

.skill {
    height: 240px;
    padding-top: 20px;
    border-bottom: 1px solid #ccc;
}

.ad {
    height: 90px;
    padding-top: 20px;
    border-bottom: 1px solid #ccc;
}

.road-photo {
    height: 300px;
    padding-top: 20px;
    border-bottom: 1px solid #ccc;
}

.equipment {
    height: 230px;
    padding-top: 20px;
}

.right-content {
    width: 270px;
    float: left;
    margin-left: 20px;
}

.news {
    height: 250px;
    padding-top: 20px;
    border-bottom: 1px solid #ccc;
}

.observation {
    height: 270px;
    padding-top: 20px;
    border-bottom: 1px solid #ccc;
}

.walker {
    height: 270px;
    padding-top: 20px;
    border-bottom: 1px solid #ccc;
}

.evaluation-equipment {
    height: 210px;
    padding-top: 20px;
    border-bottom: 1px solid #ccc;
}

.evaluation {
    width: 134px;
    height: 160px;
    padding-top: 20px;
    border-right: 1px solid #ccc;
}

.equipment-kg {
    width: 130px;
    height: 160px;
    padding-top: 20px;
    float: left;
}

.handbook {
    height: 240px;
    padding-top: 20px;
    border-bottom: 1px solid #ccc;
}

.activity {
    height: 90px;
    padding-top: 20px;
    margin-top: 20px;
}